body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display:flex;
  justify-content: space-between;
  align-content: center;
  box-shadow:0 3px 4px black;

}
ul{
  display:flex;
  margin-right:15px;
}
ul >li{
  padding:5px;
  list-style-type: none;
  color:white;

}

ul > li:hover{
  color:red;
  background-color: white;
  rotate:50deg;
}

main{
  width:90%;
  margin:auto;
  font-size: 25px;
}

footer{
  color:white;
  padding:20px;
  background-color: black;
  text-align: center;
}
/* meme */
.meme-head{
  background:linear-gradient(rgb(73, 5, 63), rgb(156, 48, 132));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  color:white;
  margin-bottom: 20px;
}

.meme-img{
  width:50px;
  margin-right:20px;
}

.meme-title{
  font-weight: 700;
  
}

.form{
  display:grid;
  grid-template:40px 40px / 1fr 1fr;
  gap: 17px;
    
}

.meme-btn{
  grid-column: 1/-1;
  border-radius:5px;
  border: 1px solide black;
  text-indent: 5px;
  background:linear-gradient(rgb(73, 5, 63), rgb(156, 48, 132));
  color:white;
  border:none;
  cursor: pointer;


}

.input{
  border-radius: 5px;
}

.meme-image{
  width:80%;
  border:1px solid grey;
  margin-top: 30px;
}

.meme-image > img{
  width:100%;
}